body {
    font-family: georgia, serif;
    text-align: center;
    background-color: #cccccc;
    background-image: linear-gradient(#cccccc, #333333);
}


/* regular layout ---------------------------- */
.container {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 100px 1fr auto;
    min-height: 100vh;    
    margin: 0px;
}

/* expanded photo */
main {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1; 
    grid-row-end: 3;
    padding-top: 2%;    
}

@keyframes fade {
  0%   {opacity: 0.2}
  50%  {opacity: 0.6}
  100% {opacity: 1.0}
}


#expandedPhoto {
    width: 90%;
    height: 85vh;
    object-fit: contain;
    display:none;
    animation: fade 2s;
}

#caption {
    padding: 20px;
    color: white;
    display: none;
}

#aboutText {
    color: black;
}

/* about section */
header {
    grid-column: 3;
    background-color: blue;
    color: white;
}

header:hover {
    opacity: 0.5;
}

/* photo reel */
aside {
    grid-column-start: 3;
    grid-row-start: 1; 
    grid-row-end: 4;
 /*   padding: 5px; /* change this to change size of scrollcontainer1 */
    padding-top: 3px;
    color: white;
    max-height: 100%;
    overflow: hidden;
}

#scrollContainer1{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#scrollContainer2{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-right: 17px; /* adjust to move/hide right scrollbar */
    /* padding-bottom: 6px; /* adjust to move/hide bottom scrollbar */    
}

.thumbnails { 
    width: 98px;   /* change thumbnail size to fill up the container */
    height: 98px;
    object-fit: cover;
    border: 1px solid black;
    opacity: 0.5;
}

.thumbnails:hover {
    opacity: 1;
}


/* mobile layout ----------------------------- */

@media (max-width: 698px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    
    /* expanded photo */
    main {
        background-color: silver;
        min-height: 76vh;
    }
    
    #expandedPhoto {
        height: 68vh;
        
    }
    
    /* about section */
    header {
        background-color: powderblue;
        color: black;
    }
    
    /* photo reel */
    aside {
        background-color: mediumPurple;
        color: black;
        
    }
       
    #scrollContainer1{
        height: 100%;
        width: 100%;
        border: 1px solid cyan;
        overflow: hidden;
    }

    #scrollContainer2{
        width: 100%;
        height: 100%;
        background-color: LimeGreen;
        overflow: auto;
        display: flex;
        flex-direction: row;
    }
    
    .thumbnails {
        min-width: 100px;
        padding: 2px;
    }
}