body {
    font-family: georgia, serif;
    text-align: center;
    color: #555555;
    background-color: #eeeeee;
}


/* regular layout ---------------------------- */
.container {
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-rows: 1fr;
    min-height: 100vh;    
    margin: 0px;
}

/* expanded photo */
main {
    grid-column-start: 1;
    grid-column-end: 2;
    padding-top: 2%;    
}

@keyframes fade {
    0%   {opacity: 0.2}
    50%  {opacity: 0.6}
    100% {opacity: 1.0}
}


#expandedPhoto {
    width: 90%;
    height: 85vh;
    object-fit: contain;
    display:none;
    animation: fade 2s;
}

#caption {
    padding: 20px;
    display: none;
}

#aboutText {
    
}

/* about section */
header {
    grid-column: 2;
    background-color: #222222;
    color: white;
    margin-bottom: 2px;
}

header:hover {
    opacity: 0.5;
}

/* photo reel */
aside {
    grid-column-start: 2;
    padding-top: 2px;
    color: white;
    max-height: 100%;
    overflow: hidden;
}

#scrollContainer1{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#scrollContainer2{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-right: 17px;    
}

.thumbnails { 
    width: 100px;
    height: 100px;
    object-fit: cover;
    opacity: 0.5;
}

.thumbnails:hover {
    opacity: 1;
}


/* mobile layout ----------------------------- */

@media (max-width: 698px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    /* expanded photo */
    main {
        flex-grow: 1;
    }
    
    #expandedPhoto {
        height: 70vh;
    }
    
    /* about section */
    header {
        color: white;
    }
    
    /* photo reel */
    aside {
        color: black;
    }
       
    #scrollContainer1{
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    #scrollContainer2{
        width: 100%;
        height: 100%;
        overflow: auto;
        display: flex;
        flex-direction: row;
    }
    
    .thumbnails {
        min-width: 100px;
        margin-right: 3px;
    }
}
