body {
    background-color: powderblue;
}

.grid-container {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 150px 1fr;
    grid-gap: 5px;
    grid-template-areas:
        "about photo"
        "reel photo";
}


.grid-container > div {
    color: white;
    /* center the text/contents of the cells */
    display: flex;
    align-items: center;
}



/* About section ---------------------------- */

.boxAbout {
    grid-area: about;
    background-color: blue;
    justify-content: center;
}



/* Reel section ----------------------------- */

.boxReel {
    grid-area: reel;
    background-color: purple;
    overflow: auto; /* really ugly vertical scrollbar if too many images - gotta fix that */ 
    height: 80vh;
    flex-direction: column; /* stacks the thumbnails vertically */
}

.boxReel > div { 
    background-color: MediumPurple;
}

/* adjust the image reel thumbnails
 * change width and height after dealing with ugly scrollbar
 */
.boxReel > div > img {
    width: 130px;
    height: 130px;
    object-fit: cover;
}

.boxReel > div > img:hover {
    opacity: 0.5;
}


/* Expanding photo section ------------------ */    

.boxPhoto {
    grid-area: photo;
    background-color: green;
    grid-column-start: 2;
    grid-row-start: 1; 
    grid-row-end: 3;
    justify-content: center;

}

.boxPhoto > img {
    object-fit: cover;
    width: 100%;
    height: 100%
}
